<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4434927302-a1fd13jffqmh603qsja991r6rh2c7p5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4434927302-a1fd13jffqmh603qsja991r6rh2c7p5k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4434927302-0m5bdj8gae2k71f8di766klbvifmup80.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaqY7U_LExvzzKlv7w3EYnjDJq7SiOYq0</string>
	<key>GCM_SENDER_ID</key>
	<string>4434927302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.scrubhub</string>
	<key>PROJECT_ID</key>
	<string>scrubhubb</string>
	<key>STORAGE_BUCKET</key>
	<string>scrubhubb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4434927302:ios:709d3d0db1bc36119c41c7</string>
</dict>
</plist>