<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22327794740-udk1a28ops3khmlkcll08ug15scnnpta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22327794740-udk1a28ops3khmlkcll08ug15scnnpta</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>22327794740-9ki6efac42v6kvim54p858m94ie130pn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcpYXBDckHeEqi4i7cG5nUdp8ezr4EfVE</string>
	<key>GCM_SENDER_ID</key>
	<string>22327794740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.scrubhubsaim</string>
	<key>PROJECT_ID</key>
	<string>scrubhub-24321</string>
	<key>STORAGE_BUCKET</key>
	<string>scrubhub-24321.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22327794740:ios:bc6c79b5c28dc42ce93e61</string>
</dict>
</plist>